Decompiled*/*
test/*
Big*/*
Huge/*
dirty/data1/*
timothy/*
codebert_model/*
__pycache__/
codebert/__pycache__/
*.py[cod]
*$py.class
*.dot 
out/*
*.bin
*.csv
JSONBinaries/*
.is_checkpoint
checkpoint
lightning_logs/*